/* General styling */
html {
  background-color: #efe9f4;
  box-sizing: border-box;
  color: #0a0c0c;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  padding: 2em 2em 0 2em;
  position: relative;
}

section h1 {
  padding: 1em;
}

#home {
  align-items: center;
  background-color: #0a0c0c;
  color: #efe9f4;
  cursor: default;
  grid-template-rows: auto;
  justify-items: center;
  min-height: 100vh;
}

#home h1 {
  font-size: 3em;
  letter-spacing: 0.25em;
  padding: 0;
  z-index: 10;
}

#home h2 {
  z-index: 10;
}

#smoke-animation {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.blur-in {
  animation: blur-in 1s ease-out 1;
  opacity: 1;
  position: relative;
}

.blur-hover {
  filter: blur(0);
  transition: filter 0.5s;
}

.blur-hover:hover {
  filter: blur(2px);
}

#W {
  animation-duration: 0.4s;
}
#o1 {
  animation-duration: 0.6s;
}
#o2 {
  animation-duration: 0.7s;
}
#d {
  animation-duration: 0.75s;
}
#b {
  animation-duration: 0.775s;
}
#y {
  animation-duration: 0.7878s;
}

@keyframes blur-in {
  0% {
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/* Change above defaults based on screen size */
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops and desktops up */
  html {
    font-size: 16px;
  }

  nav {
    display: grid;
  }

  section {
    padding: 5em 2em 0 2em;
  }
}
