/* General styling */
@font-face {
    font-family: 'how_dumb_was_i';
    src: url('howdumbwasi-webfont.woff2') format('woff2'),
         url('howdumbwasi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  background-color: #efe9f4;
  box-sizing: border-box;
  color: #0a0c0c;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: #1f2359;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.5s ease;
}

a:hover {
  transform: translateY(-2px);
}

h1, h2, h3 {
  font-family: "how_dumb_was_i", "Raleway", sans-serif;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Nav bar - hidden on mobile devices */
nav {
  align-items: center;
  background-color: #efe9f4;
  box-shadow: 0 0 5px #bab5bf;
  display: none;
  grid-template-columns: 1fr auto;
  height: 5em; /* height must match section padding top height below (@media) */
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

nav a {
  /* nav bar links */
  margin: 0 1em;
}

/* Sections */
section {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2em 2em 0 2em;
  position: relative;
}

section h1 {
  padding: 1em;
}

#home {
  align-items: center;
  background-color: #0a0c0c;
  grid-template-rows: auto;
  justify-items: center;
  min-height: 100vh;
}

#home h1 {
  color: #efe9f4;
  cursor: default;
  font-size: 3em;
  letter-spacing: 0.25em;
  padding: 0;
  z-index: 10;
}

.next {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0a0c0c;
  bottom: 5em;
  height: 0;
  left: calc(50% - 10px);
  position: absolute;
  width: 0;
  z-index: 10;
}

.next-behind {
  border-top-color: #efe9f4;
  z-index: 9;
}

#smoke-animation {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

#about {
  min-height: 50vh;
}

/* #music {
} */

#contact {
  text-align: center;
  padding-bottom: 6em;
}

#contact div {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}

/* Animation stuff */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
.pulse {
  animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.blur-in {
  animation: blur-in 1s ease-out 1;
  opacity: 1;
  position: relative;
}

.blur-hover {
  filter: blur(0);
  transition: filter 0.5s;
}

.blur-hover:hover {
  filter: blur(2px);
}

#W {
  animation-duration: 0.4s;
}
#o1 {
  animation-duration: 0.6s;
}
#o2 {
  animation-duration: 0.7s;
}
#d {
  animation-duration: 0.75s;
}
#b {
  animation-duration: 0.775s;
}
#y {
  animation-duration: 0.7878s;
}

@keyframes blur-in {
  0% {
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/* Change above defaults based on screen size */
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops and desktops up */
  html {
    font-size: 16px;
  }

  nav {
    display: grid;
  }

  section {
    padding: 5em 2em 0 2em;
  }
}
